.advantages {
    min-height: 470px;
    padding: 70px 0 64px 0;
    background-color: #F6F6F6;;
    &__items {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
    }
    &__item {
        width: 277px;
        text-align: center;
    }
    &__subtitle {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 700;
        color: $text-color;
    }
    &__descr {
        color: $text-color;
        margin-top: 15px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        a {
            color: #FF0000;
            text-transform: uppercase;
        }
    }
    &__heart {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(1, 0.79, 0, -0.74);
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__cup {
        &_animated {
            animation-name: cuprotate;
            animation-duration: 0.8s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__shoe {
        &_animated {
            animation-name: shoeanimate;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
        &:hover {
            animation-play-state: paused;
        }
    }
}
