.title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: $text-color;
    text-transform: uppercase;
    &_left {
        color: #fff;
        font-size: 36px;
        text-align: left;
        line-height: 58px;
    }
}